<h1>Book catalog</h1>
<div *ngFor="let book of books">
    <h2>{{ book.title }}</h2>
    <button (click)="openAddPopup(book)">add to list</button>
</div>
<div ngIf="showPopup">
    <h2>{{selectedBook?.title}}</h2>
    <form #frm="ngForm" (ngSubmit)="submitAddBook()">
        <label for="">Status:</label>
        <label for="">Score:</label>
        <label for="">Chapters Read:</label>
        <button type="submit">Add</button>
        <button type="button" (click)="closePopup()">Close</button>
    </form>
</div>