<i (click)="goBack()" tabindex="0">&#8592;</i>


<form #frm="ngForm" (ngSubmit)="signIn(frm)">
    <h1>Login</h1>
    <div class="error-msg" *ngIf="invalidLogin"> <p>Username and password don't match</p></div>
    <label for="username">Username</label>
    <input type="text" id="loginUsername" name="username" ngModel>
    <label for="password">Password</label>
    <input type="password" id="loginPassword" name="password" ngModel>
    <button type="submit" id="loginButton">Login</button>
</form>

